/*
 * 
 */

#p1Grid{
    
    -fx-background-image: url("/images/study.jpeg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    
}


#toggleQuestionButton{
    
    
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    
    
}