
/*
  CSS comments are added here
*/


#gp{

    -fx-background-image: url("/images/ull.jpeg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#b1{
    
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    
}

